In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from collections import Counter
from matplotlib.ticker import MaxNLocator

In [3]:
df = pd.read_csv('son_hali.csv')
df.head()

,_id,tarih,urun_ad,birim,tur,en_dusuk_fiyat,en_yuksek_fiyat,ortalama_fiyat,benzin,asgari_ucret
0,27289,2010-12-01,AVAKADO,Adet,1,1.2,1.6,1.4,3.86,599.12
1,27289,2010-12-01,AVAKADO,Adet,1,1.2,1.6,1.4,3.86,599.12
2,27289,2010-12-01,AVAKADO,Adet,1,1.2,1.6,1.4,3.84,599.12
3,27289,2010-12-01,AVAKADO,Adet,1,1.2,1.6,1.4,3.84,599.12
4,27289,2010-12-01,AVAKADO,Adet,1,1.2,1.6,1.4,3.84,599.12

In [5]:
sebzeler = df[df['tur'] == 0]
meyveler = df[df['tur'] == 1]

# Her bir kategorideki tekrar eden değerleri hesaplayıp yazdırıyoruz
print("Sebzelerdeki Tekrar Eden Değerler:")
print(sebzeler['urun_ad'].value_counts())

print("\nMeyvelerdeki Tekrar Eden Değerler:")
print(meyveler['urun_ad'].value_counts())

Sebzelerdeki Tekrar Eden Değerler:
urun_ad
PATATES                   10995
PATLICAN (Kemer)          10888
PATLICAN (Topak)          10876
BİBER (Dolma)             10868
MANTAR (Kültür)           10864
BİBER (Kıl)               10856
MARUL (Aysberk)Adet       10853
BİBER (Çarli)             10853
FASULYE (Muhtelif)        10851
DOMATES (Muhtelif)        10831
ISPANAK                   10825
SEMİZ OTU(Bağ)            10823
TERE                      10823
SALATALIK (Silor)         10807
SALATALIK (Muhtelif)      10797
BİBER (Sivri)             10794
DERE OTU (Bağ)            10794
NANE(Bağ)                 10786
ROKA(Bağ)                 10785
FESLEĞEN(REYHAN)Bağ       10759
SARIMSAK (Kuru)           10744
EKŞİ OT (Bağ)             10727
MAYDONOZ (Bağ)            10716
LAHANA (Mor)              10714
DOMATES (Çeri)            10675
LAHANA (Beyaz)            10674
KABAK (Beyaz)             10672
DOMATES (Salkım)          10664
HAVUÇ                     10650
KABAK (Kara)              10618
BROKOLİ                   10613
SOGAN (Kuru)              10609
MARUL (Muhtelif)Adet      10595
BİBER Salçalık (Kapya)    10584
KARNABAHAR                10441
BİBER (Cin)               10432
MARUL (Mor)Adet           10175
SOGAN  ( Yeşil )          10098
TURP (  Muhtelif )         8610
PIRASA                     8467
KEREVİZ                    6803
KABAK (Bal)                6218
Name: count, dtype: int64

Meyvelerdeki Tekrar Eden Değerler:
urun_ad
MUZ (İthal)               10892
HİNDİSTAN CEVİZİ(Adet)    10854
ELMA (Muhtelif)           10830
MUZ (Yerli)               10820
KİVİ                      10750
ÇİLEK                     10505
PORTAKAL (Muhtelif)       10383
AVAKADO                   10337
ÜZÜM (Muhtelif)           10223
KAVUN (Muhtelif)           8261
GREYFURT                   8084
ERİK (Muhtelif)            7329
KARPUZ (Muhtelif)          7309
AYVA                       6999
ELMA (Golden)              6274
ELMA (Starking)            6174
ARMUT( Ankara )            5149
Name: count, dtype: int64